<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EstateAgent.Properties.Settings.dgcodetest_AOConnectionString"
            connectionString="Data Source=dgcodetest.database.windows.net;Initial Catalog=dgcodetest_AO;Persist Security Info=True;User ID=ao;Password={C6CE3C84-BEA8-45AD-B557-7FE65AADEB59}"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>